name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  build_test_report:
    name: Build → Test → Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-java
      - uses: ./.github/actions/setup-gradle
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Build
        run: ./gradlew build checkLegacyAbi --stacktrace
      - name: Upload test results
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: **/build/test-results/**/TEST-*.xml
      - name: Upload test reports
        uses: actions/upload-artifact@v6
        with:
          name: test-reports
          path: processor/build/reports/tests/test
      - name: Build Maven artifact
        run: ./gradlew publishAllPublicationsToMavenLocalRepository --stacktrace
      - name: Upload Maven artifact
        uses: actions/upload-artifact@v6
        with:
          name: maven
          path: build/.m2/repository
